body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f0f8f7; 
    color: #505050;
}

header {
    background-color: #004080; 
    color: white;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / -1;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #505050;
    grid-column: 1 / -1;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #004080; 
    border-radius: 4px;
}

main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background-color: white; 
    border-radius: 8px;
    margin: auto;
    grid-template-columns: 3fr 1fr;
}

h2 {
    background-color: #004080;
    color: #ffffff;
}

.card {
    background-color: #ffffff; 
    border-radius: 10px;
    border: solid 1px #000000;  
    
    grid-column: 1 / 2;
}

.card h1, .card h2 {
    text-align: center;
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 7px;
}

.card p {
    margin: 10px;
}

.card img {
    max-width: 30%;
    height: auto;
    margin: 10px;
}

aside {
    background-color: #ffffff;
    border: solid 1px #000000;
    border-radius: 10px;
    grid-column: 2 / 3;
}

aside h2 {
    text-align: center;
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 7px;
}

footer {
    background-color: #004080; 
    color: white;
    text-align: center;
    padding: 1rem;
    grid-column: 1 / -1;
}

footer p {
    margin: 0.5rem 0;
}

a {
    color: #004080; 
    text-decoration: none;
}

nav a:hover {
    color: white; 
}

aside a:hover {
    color: #505050; 
}
